<p><%= message %></p>
<ul>
<p><a href="/editIntent">インテント編集</a></p>
<p><a href="/selectIntent">エンティティ編集</a></p>
<p><a href="/selectIntent4d">ダイアログ編集</a></p>
</ul>
<br>
<form method="get" action="/execChat" id="form">
<input type="submit" value="この設定でプログラムを起動する" style="font-size:16px;">
</form>
<br>
<p><a href="/">トップページに戻る</a></p>
<script>
</script>
