<p><%= message %></p>
<ul>
<p><a href="/editIntent">インテント編集</a></p>
<p><a href="/selectIntent">エンティティ編集</a></p>
<p><a href="/editDialog">ダイアログ編集</a></p>
</ul>
<br>
<p><a href="/">トップページに戻る</a></p>
<script>
</script>
