<!-- config demo -->
<%
%>

<body>
<p>インテントとして「<%= intent %>」が選ばれています</p>
<p><%= message %></p>
<hr>
<form method="post" action="/editEntity" id="addItem">
<table border="1">
    <tr align="center"><td>新規エンティティ</td><td><input type="text" name="newItem"></td>
    <td><input type="submit" value="追加" style="font-size:16px;"></td></tr>
</table>
</form>
<form method="post" action="/editEntity" id="delItem">
<table border="1">
    <tr align="center"><td>削除したい番号　</td><td><input type="text" name="delNum"></td>
    <td><input type="submit" value="削除" style="font-size:16px;"></td></tr>
</table>
</form>
    <ul>
        <% for (var i=0;i < posts.length; i++ ) { %>
            <% if (posts[i][0]==intent){ %>
                <li><%= i+"："+posts[i][1] %></li>
        <% }} %>
    </ul>
<br>
<p><a href="/editChat">会話編集ページに戻る</a></p>
<p><a href="/">トップページに戻る</a></p>
</body>

<script>
window.onload = function(){
}
document.getElementById('addItem').onsubmit = function(){
    var keyword = document.getElementById('addItem').newItem.value;
    if (keyword.length == 0){
        window.alert('入力欄に追加したいエンティティを入力してください');
        return false;
    }
}
document.getElementById('delItem').onsubmit = function(){
    var keyword = document.getElementById('delItem').delNum.value;
    if (keyword.length == 0){
        window.alert('入力欄に削除したいエンティティの番号を入力してください');
        return false;
    }
}
</script>
