<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- モバイル端末の画面サイズに合わせる -->
    <style>
        body { font-size:12pt; color:#006666; }
        h1 { font-size:18pt; background-color:#AAFFFF; }
        pre { background-color:#EEEEEE; }
    </style>
</head> 
<body>
    <header>
        <h1 id="h1"><%=title %></h1>
    </header>
    <div role="main">
        <p><%-content %></p>
    </div>
    <div role="footer">
        <HR>
        <h6> copyright 2017, Team Bezelie </h6>
    </dim>
</body>
</html>
