<!-- トップページ -->

<p><%= message %></p>

<hr>
<H3>基本機能</H3>
<ul>
<p><a href="/editChat">対話編集</a></p>
<p><a href="/editTime">時間設定</a></p>
<p><a href="/starting_pythonApp">ラズパイを再起動</a></p>
</ul>
<H3>開発者向け機能</H3>
<ul>
<p><a href="/stop_pythonApp">プログラム停止</a></p>
<p><a href="/disableServer">サーバーを無効化</a></p>
</ul>
<H3>リンク</H3>
<ul>
<p><a href="http://bezelie.com">ベゼリー公式ページ</a></p>
</ul>
<script>
</script>
