<p><%= message %></p>
<hr>
<table>
    プログラム
    <p><a href="/configDemo">動作デモ</a></p>
    <p><a href="/configDemo">玄関ロボ</a></p>
    <p><a href="/configDemo">接客ロボ</a></p>
    設定
    <p><a href="/configBasic">基本設定</a></p>
    <p><a href="/inputSSID">wifi設定</a></p>
    リンク
    <p><a href="http://bezelie.com">ベゼリー公式ページ</a></p>
</table>
<script>
</script>
