<p><%= message %></p>
<hr>
<H3>プログラム</H3>
<ul>
<p><a href="/configDemo">動作確認デモ</a></p>
<p><a href="/configDemo">玄関ロボ</a></p>
<p><a href="/configDemo">接客ロボ</a></p>
</ul>
<H3>設定</H3>
<ul>
<p><a href="/configBasic">基本設定</a></p>
<p><a href="/toHost">wifi設定（再起動）</a></p>
</ul>
<H3>リンク</H3>
<ul>
<p><a href="http://bezelie.com">ベゼリー公式ページ</a></p>
</ul>
<script>
</script>
